form > *:not(:last-child) {
  margin-right: 8px;
}

.avatar {
  border-radius: 50%;
  box-shadow: -1px 1px 8px;
  height: 100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.info {
  justify-content: center;
  padding: 12px;
  line-height: 2.25em;
}

.info-container {
  padding: 24px;
}

.name {
  font-size: 2em;
}

.email {
  font-size: 1.25em;
}
